#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Arial, Helvetica, sans-serif;
}
#div1{
    text-align: center;
}
.btnClass{
    padding: 10px 20px;
    font-size: 1.5em;
    color: black;
    background-color: aqua;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;

}
.btnClass:hover{
    background-color: crimson;
}